<!DOCTYPE HTML>



<html>
	<head>
			<style>
			</style>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
			<link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
			<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	</head>
	

	<body style="background-Color:#F2F3F7">
		<div id='Title' style="float:left;clear:left;width:100%;height:15%;background-Color:#7AABB2;padding-bottom:20px;">
			<center><strong><h1 style="color:white;">Weblog Analyzer</h1></strong></center>
		</div>

		<div id="block_3" style='float:right;background-Color:#F2F3F7;width:50%;height:40%;'>
				<strong><h1 style='color:#A91A11;'>Suspicious User</h1></strong>
				<table id="example" style="background-Color:#F2F3F7" class="display" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th>IP Address</th>
			                <th>Reason</th>
			            </tr>
			        </thead>

			        <tbody>

			        {% for elem in anomal_ip %}
			        	<tr>
			        		<td><a href=javascript:get_ip_log("{{ elem.ip }}");>{{ elem.ip }}</a></td>
			        		<td>{{ elem.reason }}</td>
			        	</tr>
			        {% endfor %}

			        </tbody>
			    </table>

		</div>
		<textarea id="logs" cols="150" rows="20" readonly>
		</textarea>
	</body>

<!-- this is script part!!-->

	<script>
		$('#example').dataTable( {
        	"scrollY":        "200px",
        	"scrollCollapse": true,
        	"paging":         false
    	});

		
    	function get_ip_log(ip){
    		$("#logs").val("loading")
    		$.post('/give_ip_log', {ip_addr:ip
    		}).done(function(msg){
    			ip_log = msg['logs'];
    			$("#logs").val(ip_log);
    		}).fail(function(msg){
    			alert("server connection failed");
    		});
    	};
    	
	</script>
</html>

