<!DOCTYPE HTML>



<html>
	<head>
			<style>
			</style>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
			<link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
			<script src="{{ url_for('static', filename='Chart.min.js') }}"></script>
	</head>
	

	<body style="background-Color:#F2F3F7">
		<div id='Title' style="float:left;clear:left;width:100%;height:15%;background-Color:#7AABB2;padding-bottom:20px;">
			<center><strong><h1 style="color:white;">Weblog Analyzer</h1></strong></center>
		</div>

		<div id='menu1' style="float:left;clear:left;width:100%;height:10%;background-Color:#F2F3F7;">
			<form stlye="float:right;"action="" method="post">
				<select name="Date" id="select_date" onChange="javascript:draw_selected_menu();">
					<option value="select">select</option>
					<option value="whole traffic">whole traffic</option>
				{% for elem in traffic %}
					<option value={{ elem.date }}>{{ elem.date }}</option>
				{% endfor %}
					<option value="404 Requests">404 Requests</option>
				</select>
			</form>
			<form METHOD="LINK" action="search">		
				<input style="float:right;width:10%"type="submit"value="search">
				<input style="float:right;width:10%"type="submit"value="report">
			</form>
			<form METHOD="LINK" action="anomal">
				<input style="float:right;width:10%"type="submit"value="Anomal">
			</form>
		</div>


		<div id='menu2' style="float:left;clear:left;width:100%;height:5%;background-Color:#F2F3F7;">
			<form action="javascript:draw_attack()">		
				<input style="float:right;width:10%"type= "submit"value="attack">
			</form>
			<form action="javascript:draw_normal_and_attack()">		
				<input style="float:right;width:10%"type= "submit"value="all">
			</form>
		</div>

		<div id='block_1' style="background-Color:#F2F3F7;float:left;clear:left;width:100%;height:30%;">
				<canvas id='canvas_1' width=1200  height=200 style='float:left;clear:left'> 	
					<h1> This browser does not support canvas</h1>
				</canvas>
		</div>

		<div id="block_2" style="float:left;width:50%;background-Color:#F2F3F7;height:40%;">
				<canvas id='canvas_2' width=400 height=300 style='float:left;'> 	
					<h1> This browser does not support canvas</h1>
				</canvas>
		</div>
		<div id="block_3" style='float:right;background-Color:#F2F3F7;width:50%;height:40%;'>
				<strong><h1 style='color:#A91A11;'>Suspicious User</h1></strong>
				<table id="example" style="background-Color:#F2F3F7" class="display" cellspacing="0" width="100%">
			        <thead>
			            <tr>
			                <th>IP Address</th>
			                <th>Country</th>
			                <th>City</th>
			                <th>Attack</th>
			            </tr>
			        </thead>
			 

			        <tbody>

			        {% for elem in ip_info %}
			        	<tr>
			        		<td><a href="ip_activity/{{ elem.ip }}">{{ elem.ip }}</a></td>
			        		<td>{{ elem.country }}</td>
			        		<td>{{ elem.city }}</td>
			        		<td>{{ elem.attack }}</td>
			        	</tr>
			        {% endfor %}

			        </tbody>
			    </table>

		</div>
	</body>

<!-- this is script part!!-->

	<script>
		$('#example').dataTable( {
        	"scrollY":        "200px",
        	"scrollCollapse": true,
        	"paging":         false
    	} );		


		var all_date = [];
		var d = [];
		var attack_date = [];
		var attack_data = [];

		var current_labels;
		var current_attack_data;
		var current_traffica_data;

		var tmp_attack_data = [];
		{% for elem in traffic %}
			all_date.push("{{ elem.date }}")
			d.push("{{ elem.num }}")
		{% endfor %}

		{% for elem in attack_traffic %}
			attack_date.push("{{ elem.date }}")
			tmp_attack_data.push("{{ elem.num }}")
		{% endfor %}

		for(i=0; i<all_date.length; i++)
		{
			attack_data.push("garbage")
		}
		for(i=0; i<all_date.length; i++)
		{
			index = attack_date.indexOf(all_date[i])
			if (index == -1)
				attack_data[i] = 0;
			else
				attack_data[i] = tmp_attack_data[index]
		}


		origin_fillColor = "rgba(28, 240, 226, 4)";
		var trafficData = {
			labels: all_date,
			datasets :[{
				fillColor : "rgba(128, 135, 133, 1)",
				strokeColor : "rgba(128,135,133,1)",
				pointColor : "#fff",
				pointStrokeColor : "#9DB86D",
				data : d
			},
			{
				fillColor : "rgba(169, 26, 17, 4)",
				strokeColor : "rgba(169, 26, 17, 4)",
				pointColor : "#fff",
				pointStrokeColor : "#9DB86D",
				data : attack_data
			}]
		}

		var traffic = document.getElementById('canvas_1').getContext('2d')
		traffic.canvas.originalwidth = traffic.canvas.width;
		traffic.canvas.originalheight = traffic.canvas.height;

		current_labels = all_date;
		current_traffica_data = d
		current_attack_data = attack_data;

		var traffic_chart = new Chart(traffic).Bar(trafficData);

		var attackData = [];
		var color_index = 0;
		var color = ["#e6a047", "#30598a", "#5f954c", "#6e3f78", "#5f87b6"];
		{% for elem in data2 %}
			attackData.push({value: Number("{{ elem.num }}"), color : color[color_index], label : "{{ elem.attack }}" })
			color_index += 1;
			color_index = color_index % color.length
		{% endfor %}



		var attack = document.getElementById('canvas_2').getContext('2d')
		attack.canvas.originalwidth = attack.canvas.width;
		attack.canvas.originalheight = attack.canvas.height;


		new Chart(attack).Pie(attackData, {labelAlign: 'center'});

		var suspicious_ip = [];
		var attack_type = [];
		var ip_and_attack = [];
		var ip_country = [];
		var tmp = "";
		{% for elem in ip_list %}
			suspicious_ip.push("{{ elem.ip }}")
			attack_type.push("{{ elem.attack }}")
		{% endfor %}
		{% for elem in ip_info %}
			tmp = "Country: " + "{{ elem.country }}" + "\nCity: " + "{{ elem.city }}"
			ip_country.push(tmp)
		{% endfor %}		

		for(i=0; i<suspicious_ip.length; i++){
			ip_and_attack.push(suspicious_ip[i] + " - " + attack_type[i] + "\n" + ip_country[i])
		}
	//	$("#textarea_1").val(ip_and_attack.join("\n\n"))

		function draw_normal_and_attack(){
			traffic_chart.destroy();
			traffic.canvas.width = traffic.canvas.originalwidth;
			traffic.canvas.height = traffic.canvas.originalheight;
			
			var cur_traffic = {
				labels: current_labels,
				datasets :[{
					fillColor : "rgba(128, 135, 133, 1)",
					strokeColor : "rgba(128,135,133,1)",
					pointColor : "#fff",
					pointStrokeColor : "#9DB86D",
					data : current_traffica_data
				},
				{
					fillColor : "rgba(169, 26, 17, 4)",
					strokeColor : "rgba(169, 26, 17, 4)",
					pointColor : "#fff",
					pointStrokeColor : "#9DB86D",
					data : current_attack_data
				}]
			}

			traffic_chart = new Chart(traffic).Bar(cur_traffic);
		};
		function draw_attack(){
			traffic_chart.destroy();
			traffic.canvas.width = traffic.canvas.originalwidth;
			traffic.canvas.height = traffic.canvas.originalheight;
			
			var cur_attack_traffic = {
				labels: current_labels,
				datasets :[
				{
					fillColor : "rgba(169, 26, 17, 4)",
					strokeColor : "rgba(169, 26, 17, 4)",
					pointColor : "#fff",
					pointStrokeColor : "#9DB86D",
					data : current_attack_data
				}]
			}
			traffic_chart = new Chart(traffic).Bar(cur_attack_traffic);
		};
		
		var given_graph_data = {};

		function draw_selected_menu()
		{
			var selected_value = $("#select_date").val()
			var graph_data;
			var attack_graph_data;
			if (selected_value == "select"){
				return;
			}

			if (selected_value == "whole traffic"){
				current_labels = all_date;
				current_traffica_data = d;
				current_attack_data = attack_data;
				
				traffic_chart.destroy();
				traffic.canvas.width = traffic.canvas.originalwidth;
				traffic.canvas.height = traffic.canvas.originalheight;
				var cur_traffic = {
					labels: current_labels,
					datasets :[{
						fillColor : "rgba(128, 135, 133, 1)",
						strokeColor : "rgba(128,135,133,1)",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : current_traffica_data
					},
					{
						fillColor : "rgba(169, 26, 17, 4)",
						strokeColor : "rgba(169, 26, 17, 4)",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : current_attack_data
					}]
				}
				traffic_chart = new Chart(traffic).Bar(cur_traffic);
				return;
			}



			if (typeof(given_graph_data[selected_value]) == "undefined")
			{
				$.post('/give_graph_data', {value: selected_value
				}).done(function(msg){
					graph_data = msg['graph_data'];
					attack_graph_data = msg['attack_graph_data'];
					test = attack_graph_data;

					var type = msg['type']


					var day_traffic = {
						labels: graph_data[0],
						datasets :[
						{
							fillColor : "rgba(128, 135, 133, 4)",
							strokeColor : "rgba(128, 135, 133, 4)",
							pointColor : "#fff",
							pointStrokeColor : "#9DB86D",
							data : graph_data[1]
						},
						{
							fillColor : "rgba(169, 26, 17, 4)",
							strokeColor : "rgba(169, 26, 17, 4)",
							pointColor : "#fff",
							pointStrokeColor : "#9DB86D",
							data : attack_graph_data[1]
						}]
					}
					
					var a_404_traffic = {
						labels: graph_data[0],
						datasets :[
						{
							fillColor : "rgba(128, 135, 133, 4)",
							strokeColor : "rgba(128, 135, 133, 4)",
							pointColor : "#fff",
							pointStrokeColor : "#9DB86D",
							data : graph_data[1]
						}]
					}


					traffic_chart.destroy();
					traffic.canvas.width = traffic.canvas.originalwidth;
					traffic.canvas.height = traffic.canvas.originalheight;				

					if(type=="day traffic"){
						traffic_chart = new Chart(traffic).Bar(day_traffic);
						current_labels = graph_data[0];
						current_traffica_data = graph_data[1];
						current_attack_data = attack_graph_data[1];
					}
					else{
						traffic_chart = new Chart(traffic).Bar(a_404_traffic);
					}

					given_graph_data[selected_value] = [graph_data, attack_graph_data, type];


				}).fail(function(msg){
					alert("server connection failed");
				});
			}
			else{
				graph_data = given_graph_data[selected_value][0];
				attack_graph_data = given_graph_data[selected_value][1];	
				type = given_graph_data[selected_value][2];	
				var day_traffic = {
					labels: graph_data[0],
					datasets :[
					{
						fillColor : "rgba(128, 135, 133, 4)",
						strokeColor : "rgba(128, 135, 133, 4)",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : graph_data[1]
					},
					{
						fillColor : "rgba(169, 26, 17, 4)",
						strokeColor : "rgba(169, 26, 17, 4)",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : attack_graph_data[1]
					}]
				}

				var a_404_traffic = {
					labels: graph_data[0],
					datasets :[
					{
						fillColor : "rgba(128, 135, 133, 4)",
						strokeColor : "rgba(128, 135, 133, 4)",
						pointColor : "#fff",
						pointStrokeColor : "#9DB86D",
						data : graph_data[1]
					}]
				}
				traffic_chart.destroy();
				traffic.canvas.width = traffic.canvas.originalwidth;
				traffic.canvas.height = traffic.canvas.originalheight;


				if(type=="day traffic"){
					traffic_chart = new Chart(traffic).Bar(day_traffic);
					current_labels = graph_data[0];
					current_traffica_data = graph_data[1];
					current_attack_data = attack_graph_data[1];
				}
				else{
					alert('404');
					traffic_chart = new Chart(traffic).Bar(a_404_traffic);
				}

			}

		}

	</script>
</html>

